<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Mars Mission Ops Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="/dashboard/static/css/dashboard.css">
  <script src="/dashboard/static/js/htmx.min.js"></script>
  <script defer src="/dashboard/static/js/alpinejs.min.js"></script>
</head>
<body>
  <main class="layout">
    {% block body %}{% endblock %}
  </main>
</body>
</html>
